@import '_mixin.scss';
@media (max-width: 800px) {

    header{
        height: auto;
    }
  
    /*slider*/
    .slider{
        padding-top: 5rem;
    }
  
    /*contacto*/
    .container-contacto form{
        width: 100%;
    }
  
  
    /*columnas*/
    .columna1{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .columna2{
        width: 100%;
        float: none;
        text-align: center;   
    }
    .columna2 img{
        width: 300px;
    }
  
  }